@charset "utf-8";

/* to fix IE behavior */

/* {
    border: 1px dashed;
} */

.top-recent-event {
    height: auto !important;
    height: 130px;
}

.top-recent-event img {
    width: expression(this.width >= this.height ? "100px" : "auto");
    height: expression(this.height >= this.width ? "100px" : "auto");
}
